main {
  background-image: url("../back.avif");
  background-size: auto;
  background-repeat: no-repeat;
  height: fit-content;
}
.first {
  height: 70dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.herotext {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-bottom: 20px;
}
.first h1 {
  font-size: 3.5rem;
  margin: 10px;
}
.first p {
  font-size: 2rem;
  margin: 10px;
}
.first input {
  height: 50px;
  width: 50%;
  border-radius: 50px;
  font-size: 1.5rem;
  margin-left: 5px;
  border: none;
}
.home {
  margin-top: 10px;
  background-color: aliceblue;
  border-radius: 20px;
  display: flex;
  color: black;

}
.collection {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.collection h2 {
  font-size: 2.5rem;
  width: fit-content;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: 10px;
  padding: 0;
}
.menu *{
  padding: 5px;
}
.cart-head{
  background-color: rgb(70, 70, 248);
  position: fixed;
  bottom: 1px;
  right: 1px;
  margin: 25px;
  border-radius: 50px;
  color: white;
  cursor: pointer;
}
.cart-head h1{
  padding: 10px;
  font-size: larger;
  font-weight: bolder;
}
.hide{
  display: none;
}
.show {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
  background-color: white;
  border-radius: 10px;
  border: 5px solid rgb(70, 70, 248);
  position: fixed;
  bottom: 1px;
  right: 1px;
}
aside h2 {
  font-size: 2.5rem;
  padding: 33px;
  width: 100%;
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: white;
  background-color: rgb(70, 70, 248);
}

.click-effect {
  animation: bounce 0.5s forwards;
}
@keyframes clickPulse {
  0% {
      transform: scale(1);
      box-shadow: 0 0 0 rgba(0, 113, 227, 0.4);
  }
  50% {
      transform: scale(0.95);
      box-shadow: 0 0 0 10px rgba(0, 113, 227, 0);
  }
  100% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba(0, 113, 227, 0);
  }
}
@keyframes bounce {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}
.cont{
  padding: 15px;
}
form h3 {
  margin-bottom: 5px;
}
form input {
  background-color: aqua;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  font-size: 1rem;
  padding: 10px 15px;
  margin-left: 20px;
}
.food {
  width: fit-content;
  background-color: rgb(206, 230, 252);
  margin: 10px;
  /* border: 1px solid rgb(39, 39, 39); */
  border-radius: 20px;
  padding: 15px;
}
.food button {
  background-color: rgb(76, 76, 240);
  border-radius: 20px;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.sub {
  border-radius: 20px;
  border: none;
  padding: 10px;
  width: 50%;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  margin: 10px;
  border: 2px solid;
}
.sub:nth-child(2) {
  background-color: rgb(70, 70, 248);
  color: white;
  border: none;
}
.sub:hover {
  color: white;
  background-color: rgb(70, 70, 248);
  transition: background-color 0.5s ease-in-out;
}
.obut {
  display: flex;
  flex-direction: row;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  margin: 10px;  
  max-height: 150px;
  max-width: 100%;
  overflow-x: scroll;
  display: block;
}

td,
th {
  border: 1px solid #8d8d8d;
  text-align: left;
  padding: 8px;
  width: fit-content;

}
thead{
  position: sticky;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.feedback {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  padding: 20px;
  font-size: 1.5rem;
}
.feedback form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.feedback form input {
  margin: 10px;
}
.feedback form button {
  margin: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: fit-content;
}
.input2 {
  padding: 10px;
  border: none;
  border-radius: 20px;
  height: 30px;
  background-color: aqua;
  margin: 10px;
  font-size: 16px;
}
.input {
  padding: 10px;
  border: none;
  border-radius: 20px;
  height: 30px;
  background-color: aqua;
  margin: 10px;
  font-size: 16px;
}
.message {
  padding: 10px;
  border: none;
  border-radius: 20px;
  height: 20dvh;
  background-color: aqua;
  margin: 10px;
  font-size: 16px;
  resize: none;
}
.form-group button {
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: rgb(88, 64, 224);
  color: white;
  cursor: pointer;
}
@media only screen and (max-width: 1024px) {
  .input2 {
    width: -webkit-fill-available;
  }
}
@media only screen and (max-width: 768px) {
  .home {
    display: flex;
    flex-direction: column;
  }
  .collection {
    width: 100%;
  }
  table {
    width: 90%;
  }
  .first h1 {
    font-size: 2rem;
  }
  .first p {
    font-size: 1.5rem;
  }
  .first input {
    display: none;
  }
}
